{
  "root": true,
  // This tells ESLint to load the config from the package `eslint-config-custom`
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
